p, h1, h2, h3, span, div{
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  font-smooth: never;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: transparent;
  font-family: Tahoma, sans-serif;
  font-size: 11px;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  font-smooth: never;
}

.window {
  border-radius: 12px;
  overflow: hidden;
  background: #ebe9d8;
  width: 100%;
  height: 100%;
}

.window-body {
  height: 100%;
  overflow: hidden;
}

.title-bar {
  -webkit-app-region: drag;
}

.title-bar-controls button {
  -webkit-app-region: no-drag;
}

.ok {
  position: relative;
  left: 170px;
  bottom: -40px;

}

button {
  border-radius: 0;
  border: 1px solid black;
  padding: 2px 12px;
  color: black !important;
  margin: auto;
}

.xp-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid black;
  image-rendering: pixelated;
}

.ahmed {
  width: 200px;
  height: 200px;
  position: relative;
  top: 10px;
  right: -220px;
  object-fit: cover;
  image-rendering: pixelated;
}

.output {
  position: absolute;
  left: 55px;
  top: 70px;
  z-index: 9999;
}

.bubble {
  width: 200px;
  height: 200px;
  position: relative;
  left: -185px;
  top: 10px;
}